<div class="contactPage">
    <div class="titleContainer">
        <h2> Contact List </h2>
        <div class="titleContainer-dates">
            <p> 12/12/9999 </p>
            <p> 99:99 </p>
        </div>
    </div>
    
    <div class="contactFunctionsContainer">
        <input type="search" name="buscador" id="buscador" placeholder="Buscar Contacto">
        <p> Agregar contacto </p>
    </div>
    
    <div class="contactList">
        <div class="contacto contacto1">
            <img src="../../assets/Iconos/tick.png" alt="" class="checkboxCheck">
            <div class="contacto-data">
                <p class="contacto-data-contacto"> Contacto #1</p>
                <p class="contacto-data-eliminar"> Eliminar </p>
            </div>
        </div>
        <div class="contacto contacto2">
            <img src="../../assets/Iconos/empty-checkbox.png" alt="" class="checkbox">
            <div class="contacto-data">
                <p class="contacto-data-contacto" > Contacto #2</p>
                <!-- <p class="contacto-data-eliminar"> Eliminar </p> -->
            </div>
        </div>
        <div class="contacto contacto3">
            <img src="../../assets/Iconos/empty-checkbox.png" alt="" class="checkbox">
            <div class="contacto-data">
                <p class="contacto-data-contacto"> Contacto #3</p>
                <!-- <p class="contacto-data-eliminar"> Eliminar </p> -->
            </div>
        </div>
        <div class="contacto contacto4">
            <img src="../../assets/Iconos/tick.png" alt="" class="checkboxCheck">
            <div class="contacto-data">
                <p class="contacto-data-contacto"> Contacto #4</p>
                <p class="contacto-data-eliminar"> Eliminar </p>
            </div>
        </div>
    </div>
</div>
