.Contenedor{
    position: relative;
	width: 100%;
	background-color: #fff;
	min-height: 100vh;
	overflow: hidden;
}

h1 {

    color: rgb(0, 0, 0);
}
p{
    color: black;
    font-size:large ;
}



/*.btn.transparent {
	margin: 0;
	background: none;
	border: 2px solid #fff;
	width: 130px;
	height: 41px;
	font-weight: 600;
	font-size: 0.8rem;
}*/

.btn {
	width: 150px;
	background-color: #c30000;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: #c60505;
	}
}