<main>
  <h2>Agenda de Contactos</h2>

  <div class="contact-list-container">
    <!-- <div class="contact-list-subcontainer" *ngFor="let contacto of contactos">
      <img src={{contacto.imagen}} alt="imagenUsuario">
      <p>{{ contacto.nombre }}</p>
      <p>{{ contacto.apellido }}</p>
      <p>{{ contacto.celular }}</p>
      <p>{{ contacto.email }}</p>
      <p> <fa-icon [icon]="iconoEdit"> </fa-icon></p>
    </div> -->
    <table>
      <tbody *ngFor="let contacto of contactos">
        <tr>
          <td> <img src={{contacto.imagen}} alt="imagen usuario"></td>
          <td>{{ contacto.nombre }}</td>
          <td>{{ contacto.apellido }}</td>
          <td>{{ contacto.celular }}</td>
          <td>{{ contacto.email }}</td>
          <td class="iconoEditar"> <fa-icon [icon]="iconoEditar"></fa-icon></td>
          <td class="iconoEliminar"> <fa-icon [icon]="iconoEliminar"></fa-icon></td>
          <td> <button [routerLink]="['/detalleContacto']"> Ver contacto </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
