.forms-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.signin-signup {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 75%;
	width: 50%;
	transition: 1s 0.7s ease-in-out;
	display: grid;
	grid-template-columns: 1fr;
	z-index: 5;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0rem 5rem;
	transition: all 0.2s 0.7s;
	overflow: hidden;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.title {
	font-size: 2.2rem;
	color: #444;
	margin-bottom: 10px;
}
.input-field {
	max-width: 380px;
	width: 100%;
	background-color: #f0f0f0;
	margin: 10px 0;
	height: 55px;
	border-radius: 55px;
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0 0.4rem;
	position: relative;
	i {
		text-align: center;
		line-height: 55px;
		color: #acacac;
		transition: 0.5s;
		font-size: 1.1rem;
	}
	input {
		background: none;
		outline: none;
		border: none;
		line-height: 1;
		font-weight: 600;
		font-size: 1.1rem;
		color: #333;
		&::placeholder {
			color: #aaa;
			font-weight: 500;
		}
	}
}

.social-text {
	padding: 0.7rem 0;
	font-size: 1rem;
}
.social-media {
	display: flex;
	justify-content: center;
}
.social-icon {
	height: 46px;
	width: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.45rem;
	color: #333;
	border-radius: 50%;
	border: 1px solid #333;
	text-decoration: none;
	font-size: 1.1rem;
	transition: 0.3s;
	&:hover {
		color: #f41515;
		border-color: #f41515;
	}
}

.btn {
	width: 150px;
	background-color: #c30000;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: #c60505;
	}
}

@media (max-width: 870px) {
	.signin-signup {
		width: 100%;
		top: 95%;
		transform: translate(-50%, -100%);
		transition: 1s 0.8s ease-in-out;
		left: 50%;
	}
	form {
		position: relative;
		top: -20%;
	}
}

@media (max-width: 570px) {
	form {
		padding: 0 1.5rem;
		position: relative;
		top: -35%;
	}
}