.container {
	position: relative;
	width: 100%;
	background-color: #fff;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		height: 2000px;
		width: 1800px;
		top: -10%;
		right: 48%;
		transform: translateY(-50%);
		background-image: linear-gradient(-45deg, #d01f1f 0%, #f02b2b 100%);
		transition: 1.8s ease-in-out;
		border-radius: 50%;
		z-index: 6;
	}
}

@media (max-width: 870px) {
	.container {
		min-height: 800px;
		height: 100vh;
		&:before {
			width: 1500px;
			height: 1500px;
			transform: translateX(-50%);
			left: 30%;
			bottom: 68%;
			right: initial;
			top: initial;
			transition: 2s ease-in-out;
		}
	}	
}

@media (max-width: 570px) {
	.container {
		padding: 1.5rem;
		&::before {
			bottom: 72%;
			left: 50%;
		}
	}
}