
<div class="encabezadoContactos">
  <h1 class="tituloEncabezado"> Mis  <br> Contactos </h1>
  <!--  Buscador  -->
  <input type="search" name="search" id="buscador" placeholder="Buscar...">
  <!-- Agregar contacto -->
  <button class="btnAgregarProducto"> <span> Agregar contacto </span> </button>
</div>


<div class="cartaContacto00">
  <img src="../assets/Iconos/imgUser.png" alt="imgUsuario" class="imagenUsuario">
  <p class="nombreContacto"> Nombre del contacto </p>
  <p class="numeroContacto"> 3412606900 </p>
  <p class="numeroContacto" > Icono llamar </p>
  <p class="numeroContacto"> Icono mensaje </p>
</div>

<div class="cartaContacto00">
  <img src="../assets/Iconos/imgUser.png" alt="imgUsuario" class="imagenUsuario">
  <p class="nombreContacto"> Nombre del contacto </p>
  <p class="numeroContacto"> 3412606900 </p>
  <p class="numeroContacto" > Icono llamar </p>
  <p class="numeroContacto"> Icono mensaje </p>
</div>

<div class="cartaContacto00">
  <img src="../assets/Iconos/imgUser.png" alt="imgUsuario" class="imagenUsuario">
  <p class="nombreContacto"> Nombre del contacto </p>
  <p class="numeroContacto"> 3412606900 </p>
  <p class="numeroContacto" > Icono llamar </p>
  <p class="numeroContacto"> Icono mensaje </p>
</div>

<div class="cartaContacto00">
  <img src="../assets/Iconos/imgUser.png" alt="imgUsuario" class="imagenUsuario">
  <p class="nombreContacto"> Nombre del contacto </p>
  <p class="numeroContacto"> 3412606900 </p>
  <p class="numeroContacto" > Icono llamar </p>
  <p class="numeroContacto"> Icono mensaje </p>
</div>

<div class="cartaContacto00">
  <img src="../assets/Iconos/imgUser.png" alt="imgUsuario" class="imagenUsuario">
  <p class="nombreContacto"> Nombre del contacto </p>
  <p class="numeroContacto"> 3412606900 </p>
  <p class="numeroContacto" > Icono llamar </p>
  <p class="numeroContacto"> Icono mensaje </p>
</div>