<section class="contactDetail-container">

    <div class="contacto-foto">

        <button [routerLink]="['/contacts']"> Volver atras</button>

        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="foto usuario">
        <button> Editar contacto </button>
        <button> Eliminar contacto </button>
        <button [routerLink]="['/contactBlock']"> Bloquear contacto </button>

    </div>
    <div class="contacto-datos">
        <h3> Datos del contacto </h3>
        <p>Nombre:</p>
                <input type="search" name="" placeholder="Ingrese el nombre..." id="Nombre">

                <p>Apellido:</p>
                <input type="search" name="" placeholder="Ingrese el apellido..." id="Apeliido">

                <p>Telefono:</p>
                <input type="search" name="" placeholder="Ingrese el numero..." id="Telefono">

                <p>Email:</p>
                <input type="search" name="" placeholder="Ingrese el email..." id="Email">

                <p>Fecha cumpleaños:</p>
                <input type="search" name="" placeholder="Ingrese la fecha de cumpleaños..." id="cumpleaños">
    </div>
</section>