<nav>
  <div class="titulo-container">
    <h1> Proyecto Programacion Web </h1>
    <p> Universidad Austral de Rosario </p>
  </div>

  <div class="buscador-container">
    <input
      type="search"
      name=""
      placeholder="Buscar contacto..."
      id="buscador"
    />
    <button> <fa-icon [icon]="iconoBuscador" class="iconoBuscador"> </fa-icon> </button>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button
      type="button"
      class="btn btn-outline-primary btnDropdown"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Perfil
    </button>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="perfil-subMenu">
      <button ngbDropdownItem class="submenu-btn"> 
        <fa-icon [icon]="iconoUser"></fa-icon>
        Ver perfil</button>
      <button ngbDropdownItem submenu-btn>
        <fa-icon [icon]="iconoMoon"> </fa-icon>
        Modo oscuro</button>
      <button ngbDropdownItem submenu-btn>
        <fa-icon [icon]="iconoExit"></fa-icon>
        Cerrar sesion</button>
    </div>
  </div>
</nav>

<button [routerLink]="['/addContact']" class="agregarContacto-Btn"> 
+
</button>