@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

nav {
    width: 70vw;
    height: 100px;
    color: #dedede;
    color: #111;
    font-family: 'Roboto';

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .navbarText-container {

        h1 {
            font-size: 1.6rem;
        }
        p {
            font-size: 0.9rem
        };
    }

    input {
        border-radius: 20px;
        width: 300px;
        height: 50px;
        border: 1px solid grey;
        outline: none;

        ::content {
            padding-left: 10px;
        }
    }

    .navbarIcons-container {
        display: flex;
        align-items: baseline;

        p {
            margin: 0 10px;
        }
    }

    .navbarBtns-container {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .agregarContacto-Btn {
        width: 200px;
        background: rgb(157,0,148);
        background: linear-gradient(90deg, rgba(157,0,148,1) 1%, rgba(255,46,0,1) 100%);
        border: none;
        outline: none;
        height: 50px;
        border-radius: 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
    }
        
    .btnDropdown {
        background: rgb(157,0,148);
        background: linear-gradient(90deg, rgba(157,0,148,1) 1%, rgba(255,46,0,1) 100%);
        border: none;
        color: white;
        height: 50px;
        width: 150px;
        font-weight: 400;
        font-size: 0.9rem;
        text-transform: uppercase;
    }
}


