<header>
    <nav>
        <div class="navbarText-container">
            <h1> Lista de Contactos </h1>
            <p> Programacion Web - Universidad Austral </p>
        </div>
    
        <input type="search" name="" placeholder="Buscar contacto..." id="buscador">

        <div class="navbarBtns-container">

            
        <button [routerLink]="['/addContact']" class="agregarContacto-Btn"> Agregar contacto </button>

            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary btnDropdown" id="dropdownBasic1" ngbDropdownToggle> Perfil </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem> Ver perfil </button>
                  <button ngbDropdownItem> Modo oscuro </button>
                  <button ngbDropdownItem [routerLink]="['/']" > Cerrar sesion </button>
                </div>
              </div>
        </div>

    </nav>
    
</header>
