nav {
  width: 100vw;
  margin: 0 auto;
  height: 80px;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 2px 15px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 5px 2px 15px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 5px 2px 15px 0px rgba(0, 0, 0, 0.37);

  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  .titulo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    left: -30px;

    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
    }
  }

  .buscador-container {
    display: flex;
    position: relative;
    left: -80px;

    input,
    button {
      height: 40px;
      border-radius: 10px;
      margin: 0 3px;
    }

    input {
      outline: none;
      border: 1px solid rgb(108, 108, 108);
      width: 220px;
      ::content {
        padding-left: 10px;
      }
    }

    button {
      width: 30px;
      background-color: rgb(197, 17, 17);
      border: none;

      .iconoBuscador {
        color: white;
      }
    }
  }

  .btnDropdown {
    background-color: rgb(197, 17, 17);
    border: none;
    color: white;
    height: 45px;
    width: 100px;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    position: relative;
    left: -30px;
    margin: 0;
  }
}


// -------------

.agregarContacto-Btn {
    position: absolute;
    top: 85%;
    left: 90%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(197, 17, 17);
    border: none;
    color: white;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}