<nav>
    <div class="Contenedor">
     <h1> Agregar contactos </h1>
         <p id="Ingrese"> Ingrese los datos del nuevo contacto :</p>
    
        
         <p>Nombre:</p>
         <input type="search" name="" placeholder="Nombre" id="Nombre">

         <p>Apellido:</p>
         <input type="search" name="" placeholder="Apellido" id="Apeliido">
         
         <p>Telefono:</p>
         <input type="search" name="" placeholder="Telefono" id="Telefono">

         <p>Email:</p>
         <input type="search" name="" placeholder="Email" id="Email">

         <p>Fecha cumpleaños:</p>
         <input type="search" name="" placeholder="Fecha cumpleaños" id="cumpleaños">
         
         
         <button class="btn transparent" [routerLink]="['/contacts']" id="botonVolver"> Volver </button>
         
         
         
          
    </div>
    </nav>
