header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px 0px 0px;
	height: 100%;
	width: 100%;
	
}

.Contenedor{
	
	position:relative;
	width: 100%;
	height: 600px;
	
	
	
}
.btn {
	
	
	width: 150px;
	background-color: #c30000;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 120px 0 10px;
	
	
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: #c60505;
	}
}

.contenedor-titulos{
	background-color: rgb(231, 231, 231);

	h1 {
		font-size: x-large;
		margin-left: 15px;
		font-weight: 600;
		
	}
	#uni {
		font-size: large;
		margin-top: 0px;
		text-align: left;
		margin-left: 15px;
		
	}
}

h1{

	
	height: 25px;
	margin-top: 5px;
	text-align: left;
	font-size: x-large;
	font-family: sans-serif ;
	font-style:normal ;
	
} 



#Ingrese{

	margin-left: 550px;
	font-weight: 500;
	font-size: x-large;
	height: 80px;
	

}

p {

	font-size: large;
	margin-left: 600px;
	
}

input{
	height: 25px;
	width: 300px;
	margin-left: 600px;

}

#botonVolver{

	position:absolute;
	margin-left: -1000px;
	margin: center;

}

#AgregarContacto{

	position: relative;
	margin-left: 900px ;
	font-size:small;
	
	
}

