<nav>
     <div class="Contenedor">
          <h1> Agregar contactos </h1>
          <p> Ingrese los datos del nuevo contacto :</p>

          <p>Nombre:</p>

          <p>Apellido:</p>

          <p>Telefono:</p>

          <p>Email:</p>

          <p>Fecha cumpleaños:</p>

          <input type="search" name="" placeholder="Nombre" id="Nombre">
          <input type="search" name="" placeholder="Apellido" id="Apeliido">
          <input type="search" name="" placeholder="Telefono" id="Telefono">
          <input type="search" name="" placeholder="Email" id="Email">
          <input type="search" name="" placeholder="Fecha cumpleaños" id="cumpleaños">

          <button class="btn transparent" [routerLink]="['/contacts']" id="botonVolver"> Volver </button>




     </div>
</nav>