
.btn {
	width: 150px;
	background-color: #c30000;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: #c60505;
	}
}